html{
  min-height: 100vh;
}
td,th{
  padding: 2px 5px;
  border: 2px solid #000;
  text-align: center;
}
.my-table{
  border: 2px solid #000;
  width: 100%;
}
.print{
  padding: 3px;
  display: flex;
  justify-content: center;
}
.content-tables{
  width: 550px;
}

.content-tables > table {
  margin-bottom: 20px;
}

.content-tables > table:last-child{
  margin-bottom: 0;
}